<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>502 thymeleaf study</title>
	<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Gaegu&family=Jua&family=Nanum+Pen+Script&family=Playwrite+AU+SA:wght@100..400&family=Single+Day&display=swap" rel="stylesheet">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
   <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
     
   <style>
       body *{
           font-family: 'Jua';
       }
       
       .box{
       		width: 50px;
       		height: 30px;
       		border: 1px solid black;
       		display: inline-block;
       }
</style>
</head>
<body>
<div style="margin: 20px;width:600px;">	
	<h6 class="alert alert-info">상세보기</h6>
	<img th:src="|./${dto.carimage}|" style="width:300px;border: 3px solid gray;" align="left" hspace="20">	
	
	<br><br>
	<h6>자동차명 : [[${dto.carname}]]</h6>
	<h6>색상 : <div class="box" th:style="'background-color:'+${dto.carcolor}"></div></h6>
	<h6>단가 : <span th:text="${#numbers.formatInteger(dto.carprice,0,'COMMA')}"></span>만원</h6>
	<h6>구입일 : [[${dto.carguip}]]</h6>
	<h6>등록일 : <span th:text="${#calendars.format(dto.writeday,'yyyy-MM-dd HH:mm')}"></span></h6>
</div>
<div style="margin: 20px;width:600px;">	
	<button type="button" class="btn btn-sm btn-info"
	onclick="location.href='./addform'">자동차 등록</button>
	
	<button type="button" class="btn btn-sm btn-info"
	onclick="location.href='./carlist'">자동차 목록</button>
	
	<button type="button" class="btn btn-sm btn-info"
	th:onclick="|location.href='@{/updateform(num=${dto.num})}'|">자동차 수정</button>
	
	<button type="button" class="btn btn-sm btn-info"
	th:onclick="|location.href='@{/delete(num=${dto.num})}'|">자동차 삭제</button>
</div>
</body>
</html> 




















